@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-family: "Kanit", sans-serif;
}

#container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  main {
    width: 100%;
    background-color: $color-primary-dark2;
    padding-top: 80px;
    overflow: scroll;
    overflow-x: hidden;
  }
}
