@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-family: "Kanit", sans-serif;
}

#container {
  display: flex;
  height: 100vh;

  main {
    width: 100%;
    background-color: $color-dark-2;
    padding-top: 80px;
  }
}
