@import "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-family: "Kanit", sans-serif;
}

#container {
  display: flex;
  height: 100vh;
  aside {
    background-color: $color-dark-2;
    width: 20em;
    padding-top: 80px;
  }
  main {
    width: 100%;
    background-color: $color-dark-1;
    padding-top: 80px;
  }
}

nav {
  background-color: $color-dark-2;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  // height: 60px;
  border-bottom: 3px solid $color-primary;
  align-items: stretch;
  ul {
    display: flex;
    list-style-type: none;
    li {
      padding: 0 10px;
    }
  }
  figure {
    img {
      height: 30px;
    }
  }
  a {
    text-decoration: none;
    display: block;
    padding: 10px;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    border-top: 5px solid $color-dark-2;
    border-radius: 50%;
  }
  .active-link {
    border-top: 5px solid $color-primary;
    background-color: $color-primary-transparent;
    border-radius: 0px;
  }
}
