@import "./variables";

.messenger {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  .friend-profile-bar {
    display: flex;
    background-color: #00000000;
    border-bottom: 2px solid $color-primary;
    padding-bottom: 5px;
    .friend-data-wrapper {
      display: flex;
      align-items: center;
    }
  }
  .messages-date {
    text-align: center;
    border-top: 1px solid $color-primary-dark;
    color: #ccc;
  }
  .messages {
    overflow: scroll;
    overflow-x: hidden;
    .message {
      p {
        max-width: 60%;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 1rem;
        background-color: #444;
        background-color: $color-primary-dark;
        word-wrap: break-word;
      }
    }
    .friend-message {
      display: flex;
      justify-content: flex-start;
    }
    .my-message {
      display: flex;
      justify-content: flex-end;
      p {
        background-color: $color-secondary;
      }
    }
  }
  .message-input {
    width: 100%;
    display: flex;
    padding: 1rem;
    padding-top: 0;
    position: sticky;
    bottom: 0;
    background-color: $color-primary-dark2;
    input {
      font-family: "Kanit", sans-serif;
      margin: 1rem;
      margin-right: 0;
      padding-left: 0.5rem;
      width: 100%;
      border: none;
      border-radius: 1rem 0 0 1rem;
      background-color: $color-primary-dark2;
      color: #fff;
      font-size: 16px;
      outline: 2px solid $color-secondary;
    }
    input:focus {
      background-color: $color-secondary-dark;
    }
    button {
      margin-right: 1rem;
      cursor: pointer;
      margin: 1rem 0;
      padding: 0.2rem 0.5rem;
      background-color: $color-primary-dark2;
      border: none;
      border-radius: 0 1rem 1rem 0;
      outline: 2px solid $color-secondary;
      .svg-icon {
        height: 2rem;
        width: 2rem;
        mask: url(../../assets/send.svg);
        background-color: #ccc;
        margin: 2px;
        mask-size: contain;
      }
    }
    button:hover {
      background-color: $color-secondary-dark;
      .svg-icon {
        background-color: $color-primary;
      }
    }
  }
}
