@import "./variables";

.navbar {
  background-color: $color-primary-dark2;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  border-bottom: 3px solid $color-secondary;
  box-shadow: 0px 5px 10px $color-secondary;
  align-items: stretch;
  .logo {
    display: flex;
    @media (max-width: 350px) {
      display: none;
    }
    .logo-text {
      @media (max-width: 550px) {
        display: none;
      }
      color: $color-primary;
      font-size: 1.7rem;
      padding: 10px;
      span {
        color: $color-secondary;
      }
    }
    figure {
      height: 55px;
      img {
        height: 100%;
      }
    }
  }
  // .logo {
  //   height: 100%;
  //   figure {
  //     height: 100%;
  //     img {
  //     }
  //   }
  // }
  ul {
    display: flex;
    list-style-type: none;
    li {
      padding: 0 10px;
    }
  }
  .home-icon {
    mask: url(../../assets/home.svg);
  }
  .friends-icon {
    mask: url(../../assets/users.svg);
  }
  .settings-icon {
    mask: url(../../assets/settings.svg);
  }
  .account-icon {
    mask: url(../../assets/portrait.svg);
  }
  .svg-icon {
    height: 30px;
    width: 30px;
    background-color: #ccc;
    mask-size: cover;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 10px;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    border-top: 5px solid $color-primary-dark2;
  }
  a:hover {
    background-color: $color-secondary-transparent;
  }
  .active-link {
    border-top: 5px solid $color-secondary;
    figure {
      background-color: $color-primary;
    }
  }
}
