//$color-dark-1: #20232b
//$color-dark-2: #111111
$color-dark-1: #000000
$color-text: #eeeeee

// $color-primary: #ebbb85
// $color-primary-transparent: #ebbb8522
// $color-primary-dark: #91774e

$color-primary: #00aad4
$color-primary-light: #7ecbdf
$color-primary-dark: #094655
$color-primary-dark2: #161616

$color-secondary: #ff4304
$color-secondary-dark:#751d00
$color-secondary-transparent: #ff430422

